@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Nunito', sans-serif;
  background: #fff7fb;
}

.app-container {
  max-width: 430px;
  margin: auto;
  min-height: 100vh;
  background: #ffffff;
  position: relative;
  padding-bottom: 70px;
}
